:root {
  --intro-bg-color: hsl(217, 28%, 15%);
  --signup-bg-color: hsl(217, 28%, 15%);
  --main-bg-color: hsl(218, 28%, 13%);
  --footer-bg-color: hsl(216, 53%, 9%);
  --testimonials-bg-color: hsl(219, 30%, 18%);
  --white-bg-color: hsl(0, 0%, 100%);
  --main-txt-color: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: Raleway;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
  padding: 1rem 0;
}

p {
  font-size: 1.2rem;
}

button {
  font-size: 1.2rem;
  margin: 1.5rem;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border: none;
  height: 3.5rem;
  width: 70%;
  border-radius: 50px;
  color: var(--main-txt-color);
}

/* Navigation bar */

nav {
  background-color:  var(--intro-bg-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.links-container {
  display: flex;
  align-items: center;
}

.nav-links {
  color: var(--main-txt-color);
  text-decoration: none;
  padding: 0 10px;
  font-size: 0.8rem;
}

.logo {
  height: 20px;
}

/* Header */

header {
  background-color: var(--intro-bg-color);
  grid-column: 1 / span 10;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 6fr 1fr 2fr 7fr;
}

.header-img {
  width: 100%;
  grid-column: 2;
  grid-row: 1 / span 2;
  z-index: 10000;
}

.bg-curvy-mobile {
  width: 100%;
  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
  background-color: var(--intro-bg-color);
  z-index: 5000;
}

.intro-text {
  grid-column: 2;
  grid-row: 3 / span 2;
  z-index: 10000;
}

.intro-text h1 {
  padding: 1.5rem 0;
}

.bg-curvy-desktop {
  display: none;
}

.bg-div {
  background-color: var(--main-bg-color);
  grid-column: 1 / span 3;
  grid-row: 4;
}

/* Features */

.features-container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature {
  margin: 3rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 400px;
}

.feature-img {
  height: 4.5rem;
}

/* How it works */

.how-it-works {
  margin: 5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.how-it-works h2 {
  margin-top: 2rem;
}

.how-it-works p {
  margin-bottom: 1.8rem;
}

.how-it-works-img {
  width: 80%;
  align-self: center;
}

.link-container {
  display: flex;
  align-items: center;
  align-self: flex-start;
  border-bottom: 1px solid hsl(176, 68%, 64%);
}

.how-it-works-link {
  color: hsl(176, 68%, 64%);
  padding: 0 5px 5px 0;
  text-decoration: none;
}

.link-arrow {
  height: 20px;
}

/* Testimonial */

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-card:first-child {
  position: relative;
}

.testimonial-quote {
  position: absolute;
  top: -20px;
  left: 10px;
  height: 20px;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  background-color: var(--testimonials-bg-color);
}

.testimonial-text {
  padding: 10px;
  font-size: 0.8rem;
  line-height: 2;
}

.profile {
  display: flex;
  align-items: center;
  padding: 10px;
}

.testimonial-pic {
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-name {
  font-weight: 700;
  font-size: 0.7rem;
  padding: 0;
  margin: 0;
}

.profile-role {
  font-size: 0.6rem;
  padding: 0;
  margin: 0;
}

.name-role-container {
  display: flex;
  flex-direction: column;
}

/* Signin */
.signin {
  position: relative;
  padding: 2rem;
  height: 500px;
}

.signin-card {
  background-color: var(--signup-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 0.5rem;
  position: absolute;
  bottom: -7rem;
  left: 20px;
  right: 20px;
  text-align: center;
}

.signin-card h3 {
  padding: 1rem 0;
}

.signin-card p {
  padding: 2rem 1rem;
}

.email-input {
  border: none;
  height: 3.5rem;
  width: 90%;
  font-size: 1.1rem;
  padding-left: 2rem;
  border-radius: 50px;
}

button.signin-btn {
  width: 90%;
}

/* Footer */

footer {
  margin: 0;
  padding: 12rem 2rem 2rem 2rem;
  background-color: var(--footer-bg-color);
}

.about {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  width: 200px;
}

.contact-container {
  margin: 2rem 0;
}

.contact-info {
  display: flex;
  align-items: flex-start;
}

.footer-icon {
  width: 1.5rem;
  padding-top: 15px;
}

.footer-text {
  padding: 10px 0 0 1rem;
}

.info-links {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.links-group {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.info-link {
  color: var(--main-txt-color);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: white; 
}
